# Created by .ignore support plugin (hsz.mobi)
/.idea
*.iml
*/*.iml
*/bin/
*/gen/
*/out/
*/.idea/
.idea/
.DS_Store
Thumbs.db
*.bak
*.tem
*.temp
#.swp
*.*~
~*.*
*.class
*/target/
/target/
*/*.log
*.log
/.idea/*
*.iml
out/production/structureAlgorithm/.gitignore
out/production/structureAlgorithm/META-INF/
!/.idea/
!/structureAlgorithm.iml
